.footer{
    position: fixed;
    bottom: 0;
    display: flex;
    background-color: rgb(235, 235, 235);
    color: black;
    justify-content: flex-end;

}

.footer > span{
    font-weight: 300;
    font-size: 1.1rem;
}